################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LetsPost
/*/*/*/bin/*
/*/*/*/obj/*
/*/*/bin/*
/*/*/obj/*
